@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundMain);
    overflow: hidden;
}

.box-circule{
    position: relative;
    width: 40vw;
    height: 100%;
    overflow: hidden;
}

.box-circule .circule{
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--colorMain);
    border-radius: 50%;
}

.circule:nth-child(1){
    left: -150px;
    bottom: -150px;
}

.circule:nth-child(2){
    right: -140px;
    top: -140px;
    background: #a37711;
}

.circule:nth-child(3){
    right: -140px;
    bottom: -140px;
}

.circule:nth-child(4){
    left: -140px;
    top: -140px;
    background: #a37711;
}

form {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width: 30vw;
    background: var(--backgroundSecond);
    border-right: 5px solid var(--colorMain);
    border-left: 5px solid var(--colorMain); 
    box-shadow: 1px 1px 100px var(--colorMain);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#text-center{
    text-align: center;
}

form h2{
    color: var(--colorMain);
    font-weight: 800;
    font-size: 4rem;
}
.box-input{
    position: relative;
    margin: 10px 0;
    height: 5%;
    width: 100%;
    overflow: hidden;
}

.box-input input {
    width: 90%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border-bottom: 5px solid var(--backgroundMain);
    padding: 0 0 0 5px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px ;
}

.box-input input::placeholder {
    color: #fff;
    font-weight: 600;
    position: absolute;
    left: 5px;
}

form button{
    width: 9.5rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    margin: .5rem 0;
    background: var(--colorMain);
    color: #fff;
    border-radius: 1rem;
}

form button:hover{
    transition: .5s;
    box-shadow: 1px 1px 20px var(--colorMain);
    font-weight: 600;
}

.linked-sites{
    margin: 10px 0;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.linked-sites a{
    width: 7rem;
    height: 1.5rem;
    background: #fff;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linked-sites a:nth-child(1){
    color: #c0392b;
}

.linked-sites a:nth-child(2){
    color: #fff;
    background: #7289da;
}
.linked-sites a:nth-child(3){
    color: rgb(17, 17, 17);
    background: #fffdfd;
}


.linked-sites a:nth-child(1):hover{
    box-shadow: 0 0 15px #c0392b;
    color: #882b20;
    transition: .2s;
}

.linked-sites a:nth-child(2):hover{
    box-shadow: 0 0 15px #7289da;
    background: #5768a5;
    color: #eee;
    transition: .2s;
}
.linked-sites a:nth-child(3):hover{
    box-shadow: 0 0 15px #4f0af1;
    background: #0c0c0c;
    color: rgb(253, 250, 250);
    transition: .2s;
}

@media  screen and (max-width: 900px) {
    form{
        width: calc(30vw + 2.5%);
        box-shadow: 1px 1px calc(100px - 20px) var(--colorMain);
    }

    .linked-sites{
        flex-direction: column;
    }
    .box-circule{
        width: calc( 30vw + 7.5%);
    }
    .box-circule .circule{
        width: calc(300px - 100px);
        height: calc(300px - 100px);
    }
    .circule:nth-child(1){
        left: -100px;
        bottom: -100px;
    }
    
    .circule:nth-child(2){
        right: -100px;
        top: -100px;
        background: #a37711;
    }
    
    .circule:nth-child(3){
        right: -100px;
        bottom: -100px;
    }
    
    .circule:nth-child(4){
        left: -100px;
        top: -100px;
        background: #a37711;
    }

    }


@media  screen and (max-width: 690px){
    form{
        width: calc(30vw + 80%);
        box-shadow: none;
        border: none;
    }
    .box-circule{
        display: none;
    }

    .linked-sites{
        flex-direction: row;
        justify-content: center;
    }
    
    .linked-sites a{
        margin: 0 1em;
    }
}

@media  screen and (max-width: 300px){
    form h2{
        font-size: 4rem;
    }

    .linked-sites{
        flex-direction: column;
        justify-content: space-evenly;

    }

    .linked-sites a{
        margin: none;
    }
}